// @import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap');

html { 
  // font-family: 'Inter', sans-serif; 
  font-family: 'IBM Plex Sans', ;
  // font-family: 'Cabin', ;

}

body {
  margin: 0px;
  padding: 0px;
  // background-color: RGBA(244, 245, 250, 1.00);
}